<ng-container *ngrxLet="model$ | async as model">
  <form [formGroup]="form" (submit)="submit(model===null ?createModel:updateModel)">
    <div class="modal-header">
      <h4 class="modal-title">{{model===null?"Add":"Edit"}} Model</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="form-group">
          <label>Name</label>
          <input type="text" [ngClass]="{
             'is-invalid':name.errors?.required&&(name.touched||isSubmited)
           }" class="form-control is-invalid" formControlName="name" />
          <div class="invalid-feedback">
            Please write model name.
          </div>
        </div>
        <div class="form-group">
          <label>Mark Name</label>
          <app-markSelector [elementsSelect$]="marksForSelect$" [markId]="model?.markId" [hasError]="markId.errors?.min&&isSubmited"
            (myChange)="handleMarkIdChange($event)">
          </app-markSelector>
          <div [ngClass]="{'displayDiv':markId.errors?.min&&isSubmited}"
            class="invalid-feedback">
            Please write model name.
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-primary">{{model===null?"Add":"Edit"}}</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>
  </form>
</ng-container>