<ng-container *ngrxLet="mark$ | async as mark">
  <div class="modal-header">
    <h4 class="modal-title">Delete Mark</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <p>Are you sure want to delete <b>{{mark.name}}</b></p>
    </div>
  </div>
  <div class="modal-footer">   
    <button type="submit" class="btn btn-outline-primary" (click)="handleDelete(mark.id)">Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</ng-container>