<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mark of marks$|async">
      <td>{{ mark.name }}</td>
      <td>
        <button type="button" class="btn btn-primary editButton" routerLink="./{{mark.id}}">View</button>
        <button type="button" class="btn btn-danger editButton" (click)="editHandle(mark)">Edit</button>
        <button type="button" class="btn btn-warning" (click)="deleteHandle(mark)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>