<div class="container" *ngIf="model$ | async as model">
  <label>
    Name
  </label>
  <h2>{{model.name}}</h2>
  <br />
  <label>
    Model names
  </label>
  <div>
    <div class="list-group">
      <a routerLink="/mark/{{model.mark.id}}" class="list-group-item list-group-item-action">{{model.mark.name}}</a>
    </div>
  </div>
  <br />
  <div *ngIf="model.cars.length>0">
    <label>
      Cars
    </label>
    <div>
      <div class="list-group">
        <a *ngFor="let car of model.cars" routerLink="/car/{{car.id}}"
          class="list-group-item list-group-item-action">{{car.name}}</a>
      </div>
    </div>
  </div>
</div>