<div class="container" *ngIf="mark$ | async as mark">
  <label>
    Name
  </label>
  <h2>{{mark.name}}</h2>
  <br />
  <div *ngIf="mark.models.length>0">
    <label>
      Model names
    </label>
    <div>
      <div class="list-group">
        <a *ngFor="let model of mark.models" routerLink="/model/{{model.id}}"
          class="list-group-item list-group-item-action">{{model.name}}</a>
      </div>
    </div>
  </div>

  <br />
  <div *ngIf="mark.cars.length>0">
    <label>
      Cars
    </label>
    <div>
      <div class="list-group">
        <a *ngFor="let car of mark.cars" routerLink="/car/{{car.id}}"
          class="list-group-item list-group-item-action">{{car.name}}</a>
      </div>
    </div>
  </div>

</div>